---
layout: base
extra_css:
  - about.css
---

<div class="blog-cover" style="background-image:url('http://fourandthree.com/assets/img/levin-mejia-about.jpg');">
    
    <section>
        <div class="container">
            <h1>{{ site.inc.title }}</h1>
            {% if site.inc.subtitle %}<h3>{{ site.inc.subtitle }}</h3>{% endif %}
        
            <a href="http://www.linkedin.com/profile/view?id=281018573" title="Connect on Linkedin" target="_blank"><i class="icon icon-linkedin" style="background-image: url({{ site.baseurl}}/images/icon-linkedin.png);"></i></a>
            <a href="http://facebook.com/{{ site.inc.facebook }}" title="Follow on Facebook" target="_blank"><i class="icon icon-facebook"></i></a>
        </div>
    </section>
</div>


<article class="container">
    <section class="index">
        <h1>Projects:</h1>
    </section>
    {% for post in site.posts %}
    {% unless post.draft %}
    <section class="index">
        <!-- {% if post.author.image %}<img src="{{ site.baseurl}}/images/{{ post.author.image }}" class="avatar">{% endif %}-->
        <div>
            <h2 class="title"><a href="{{ site.baseurl}}{{ post.url }}" rel="prefetch">{{ post.title }}</a></h2>
            <p style="margin-bottom: 0.6em;">{{ post.excerpt }}</p>
            <p><a href="{{ site.baseurl}}{{ post.url }}" rel="prefetch" style="background: #2A6496;
border-radius: 50px;
color: #FFF;
font-size: 14px;
padding: 5px 10px;">READ MORE</a></p>
        </div>
        <hr>
    </section>
    {% endunless %}
    {% endfor %}
</article>
