.article-cover, .blog-cover, .article-cover>div, .blog-cover>div {
  max-height: 100%;
}

@media (max-width: 1000px) {
  
  iframe {
    max-width: 100%;
  }
  
}

@media (max-width: 640px) {
  
  iframe {
    max-height: 320px;
  }
  
}